<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Ichiro Suzuki</string>
	<string>Brett Gardner</string>
	<string>Jacoby Ellsbury</string>
	<string>Carlos Beltran</string>
	<string>Mark Teixeira</string>
	<string>Brendan Ryan</string>
	<string>Martin Prado</string>
	<string>Derek Jeter</string>
	<string>Chase Headley</string>
	<string>Stephen Drew</string>
	<string>Brian McCann</string>
	<string>Francisco Cervel</string>
	<string>Chase Whitley</string>
	<string>Adam Warren</string>
	<string>Esmil Rogers</string>
	<string>David Robertson</string>
	<string>Michael Pineda</string>
	<string>Brandon McCarthy</string>
	<string>Hiroki Kuroda</string>
	<string>Shawn Kelley</string>
	<string>David Huff</string>
	<string>Rich Hill</string>
	<string>Dellin Betances</string>
	<string>Chris Capuano</string>
	<string>Shane Greene</string>
</array>
</plist>
